@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);
    background: linear-gradient(to right, #FD746C, #2C3E50);
}

@media screen and (max-width: 450px) {
    .login-container {
        width: 95%;
        height: 90%;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    /* min-width: fit-content; */
    max-width: 800px;
}

.main-heading {
    text-align: center;
    background-color: #2C3E50;
    padding: 10px 8px 8px 8px;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-family: 'Baloo Bhaijaan 2';
    margin-bottom: 15px;
}

.login-container ul {
    list-style-type: none;
    padding: 0px 10px;
    width: 100%;
    font-family: 'Ubuntu';
}

.field-control {
    padding: 5px 5px;
    position: relative;
}

.field-control label {
    display: inline-block;
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.field-control input {
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    width: 100%;
    font-family: inherit;
}

.field-control i {
    position: absolute;
    top: 38px;
    right: 15px;
    visibility: hidden;
}

.field-control span {
    position: relative;
    bottom: 1px;
    font-size: 12px;
    visibility: hidden;
}

.login-container button {
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 75%;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0px;
}

.field-control.error input {
    border-color: red;
}

.field-control.error .fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.field-control.success .fa-check-circle {
    visibility: hidden;
}

.field-control.error span {
    visibility: visible;
}

.field-control.success input {
    border-color: green;
}

.field-control.success .fa-exclamation-circle {
    visibility: hidden;
}

.field-control.success .fa-check-circle {
    visibility: visible;
    color: green;
}

.field-control.success span {
    visibility: hidden;
}