@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Open+Sans&family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);
}

.container {
    background-color: white;
    padding: 20px 20px 0px 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

#question {
    font-size: 18px;
    margin: 10px;
    width: 90%;
}

.container ul {
    list-style-type: none;
    width: 90%;
}

.container li {
    background-color: #Fdfcfa;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 20px;
}

li label,
input {
    cursor: pointer;
    margin: 4px;
}

#next {
    background: #3a7bd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px;
    color: white;
    font-weight: bold;
    width: 140%;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    box-shadow: 0px 0px 8px black;
}

#next:hover {
    text-shadow: 0px 0px 5px white;
    cursor: pointer;
    box-shadow: 0px 0px 4px #3a7bd5;
}